.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculator {
  background-color: #c41134;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.result {
  background-color: #c41134;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.keyarea {
  background-color: #2dd90b;
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.keybox {
  background-color: #21d4ec;
  width: 90%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.key {
  background-color: #e61cd5;
  width: 20%;
  height: 100%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

